:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body{
  margin: 1rem;
  padding: 0
}

div{
  user-select: none
}

.selectedCompany{
  background-color: white;
  color: #242424
}

.nonSelectedCompany{
  color: white;
  background-color: #242424
}
.nonSelectedCompany:hover{
  background-color: #242424;
  opacity: .6
}

.tt{
  word-wrap: break-word;
}
