:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 1rem;
  padding: 0;
}

div {
  user-select: none;
}

.selectedCompany {
  background-color: white;
  color: #242424;
}

.nonSelectedCompany {
  color: white;
  background-color: #242424;
}
.nonSelectedCompany:hover {
  background-color: #242424;
  opacity: 0.6;
}

.tt {
  word-wrap: break-word;
}

#my-tooltip {
  text-align: center;
}

.companyStatus {
  color: #8ce4a6;
  background-color: #28322d;
  padding: 0.2rem 1rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}

.companyStatusContainer {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.companiesNumberContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
}

.number {
  color: #8ce4a6;
  background-color: #28322d;
  padding: 0.2rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.3rem;
}
